# Environment files
.env

# Dependencies
node_modules/

# Package lock files
package-lock.json

# IDE settings
.idea/
.vscode/

# Database files
src/database/file.db
src/database/file.db-shm
src/database/file.db-wal

# Media files
media/api-request-*.json
media/api-response-*.json

# TODO files
.todo